NEXT_PUBLIC_SITE_URL=https://routy.fund
NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_ROUTY_LAUNCHER_ADDRESS=
NEXT_PUBLIC_ROUTY_ASSET_REGISTRY_ADDRESS=
PONS_FACTORY_ADDRESS=
PONS_FEE_ESCROW_ADDRESS=
ROUTY_TREASURY_ADDRESS=
UNISWAP_API_KEY=
RPC_URL=
KEEPER_PRIVATE_KEY=
MIN_HARVEST_WEI=0
MAX_SLIPPAGE_BPS=100
MAX_PRICE_DEVIATION_BPS=200
