NEXT_PUBLIC_SITE_URL=https://routy.fund
NEXT_PUBLIC_CHAIN_ID=4663
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_ROUTY_LAUNCHER_ADDRESS=
NEXT_PUBLIC_ROUTY_ASSET_REGISTRY_ADDRESS=
PONS_FACTORY_ADDRESS=0x7eD598BcEf8bd9Edd8C97A195C6d13f40801EC7e
PONS_FEE_ESCROW_ADDRESS=0xd3AFEB2a57f70eF218Aa82451c51B2fb0416Ac9e
PONS_LAUNCH_AND_BUY_ADDRESS=0xe33E9E479dF8802cb0866d5d05258bEc4cF62948
UNISWAP_V4_POOL_MANAGER=0x8366a39CC670B4001A1121B8F6A443A643e40951
ROUTY_TREASURY_ADDRESS=
RPC_URL=
KEEPER_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=
MIN_HARVEST_WEI=0
MAX_SLIPPAGE_BPS=100
MAX_PRICE_DEVIATION_BPS=200
